
<div *ngFor="let todo of prueba" class="form-check container">
   <input class="form-check-input color" type="checkbox" value="" id={{todo.id}} checked>
   <label class="form-check-label item" for="flexCheckChecked">
      {{todo.name}}
   </label>
   <!--
    <p>{{todo.sortOrder}}</p> 
   <p>{{todo.creationDate}}</p>
      <p>{{todo.lastUpdate}}</p>
      <p>{{todo.status}}</p>
     <p ngFor="let Todo of prueba">{{todo.itemVariants|json}}
         <li> </li>
      </p>
      <ul *ngFor="let Todo of prueba" >{{todo.categories}}

      </ul>
      <ul *ngFor="let Todo of prueba">{{todo.goals}}

      </ul>
-->

 </div>