
   
   <nav class="navbar navbar-light bg-light color">
    <div class="container-fluid container-section">
<!--<div class=">-->
         
        <div class="box1" >
        <a class= "icon2" href=""><img src="" alt=""></a>
         <ul *ngFor="let dato of section">
        <h3>Account Name</h3>
        <span>{{dato.name}} </span>
         </ul>
    </div>
    <div class="box2">
        <h3 >Campaign Name</h3>
        <span>New- Search - Course - Dowsing - Broad</span>
    </div>
    <div class="box3">
        <h3 >Account Name</h3>
        <span>1 out of X Campaigns Analyzed</span>
        <button type="button" class="btn btn-light">Disable</button>
         </div>
    </div>
   </nav>
